{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% block header %} Accueil {%  endblock %}

    <div id="container">
        <h1>Ici se trouvera la page d'acceuil:</h1>
        <ul>
            <li>Un formulaire :
            <li>Jour de la visite </li>
            <li>Type de billet (demi journée?)</li>
            <li>Nb de billets</li>
            </li>
            <li>VALIDER</li>
            <li>Page suivant</li>
        </ul>

    </div>
{% endblock %}





