{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    {% block header %} Accueil {%  endblock %}

    <div id="container">



    </div>
{% endblock %}





