{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Recap{% endblock %}
    {% block header %} Recap {% endblock %}
{% block body %}


    <div id="container">
        <ul>
            <li>Validation de paiement avec résumé</li>
            <li>envois email avec billets SwiftMailer</li>
        </ul>

    </div>
{% endblock %}

